<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.css}"></link>
<link rel="stylesheet"
	href="../static/css/common.css"
	th:href="@{/css/common.css}"></link>
<title>パスワード</title>
</head>
<body>

	<!-- ナビゲーションバー -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<!-- topに戻る -->
			<div class="navbar-header">
				<a class="navbar-brand" href="./menu.html" th:href="@{/menu}">Brand</a>
			</div>

			<div class="collapse navbar-collapse">
				<div class="navbar-form navbar-right" role="search">
					<a th:href="@{/logout}" class="btn btn-default">ログアウト</a>
				</div>
			</div>
		</div>
	</nav>

	<!-- 画面要素 -->
	<div class="container" style="margin-top: 80px">
		<div class="well" style=" margin: 0 auto; max-width: 400px">

			<div class="well" style="background: white;">
				<div class="text-center">
					<img class="img-circle" src="http://placehold.it/50x50" th:src="@{/img/key.jpg}" width="50" height="50"/>
					パスワード
				</div>
			</div>

			<!-- 入力フォームの表示 -->
			<div th:if="${param.error}">エラー: ユーザ名・パスワードが違います。</div>
			<form th:action="@{/password/update}" method="post" th:object="${passwordForm}">
				<div class="row" style="margin-top: 4px;">
					<div class="col-md-12">
						<label for="user-id" class="control-label">ユーザ名:</label>
						<span style="color: red;" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input id="user-id" type="text" class="form-control" required="required" maxlength="20" th:field="*{userId}"/>
					</div>
				</div>
				<div class="row" style="margin-top: 4px;">
					<div class="col-md-12">
						<label for="old-password" class="control-label">現在のパスワード:</label>
						<span style="color: red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input id="old-password" type="password" class="form-control" required="required" maxlength="20" th:field="*{password}"/>
					</div>
				</div>
				<div class="row" style="margin-top: 4px;">
					<div class="col-md-12">
						<label for="new-password" class="control-label">新しいパスワード:</label>
						<span style="color: red;" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
						<span style="color: red;" th:if="${#fields.hasErrors('validPasswords')}" th:errors="*{validPasswords}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input id="new-password" type="password" class="form-control" required="required" maxlength="20" th:field="*{newPassword}"/>
					</div>
				</div>
				<div class="row" style="margin-top: 4px;">
					<div class="col-md-12">
						<label for="new-password-check" class="control-label">新しいパスワード(確認用):</label>
						<span style="color: red;" th:if="${#fields.hasErrors('newPasswordCheck')}" th:errors="*{newPasswordCheck}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<input id="new-password-check" type="password" class="form-control" maxlength="20" th:field="*{newPasswordCheck}"/>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12">
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">更新する</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<hr/>
		<div class="text-center">
			<p>Copyright (C) 2015 hogehoge. All Rights Reserved.</p>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"
		th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
	<script>
		$('#hoge').on(
				'click',
				function(e) {
					$.get("http://www.geocoding.jp/api/?q=埼玉県さいたま市南区文蔵",
							function(data) {
								alert("Data Loaded: " + data);
							});
				});
	</script>
</body>
</html>